@tailwind base;
@tailwind components;
@tailwind utilities;

/* //foreground-text color */
@layer base {
  :root {
    --background: 300 8% 95%;
    --foreground: 270 8% 5%;

    --card: 300 8% 95%;
    --card-foreground: 270 8% 5%;

    --popover: 300 8% 95%;
    --popover-foreground: 270 8% 5%;

    --primary: 282 40% 45%;
    --primary-foreground: 300 9% 98%;

    --secondary: 288 11% 91%;
    --secondary-foreground: 270 8% 5%;

    --muted: 270 9% 91%;
    --muted-foreground: 283 9% 45%;

    --accent: 276 11% 91%;
    --accent-foreground: 270 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 280 9% 87%;
    --input: 280 9% 81%;
    --ring: 282 36% 72%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 120 3% 6%;
    --foreground: 0 0% 98%;

    --card: 150 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 150 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 118 29% 43%;
    --primary-foreground: 0 0% 98%;

    --secondary: 135 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 130 5% 22%;
    --muted-foreground: 130 5% 49%;

    --accent: 133 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 140 5% 12%;
    --input: 135 4% 18%;
    --ring: 132 46% 40%;
  }

  /* :root {
    --background: #ebecf0;
    --foreground: #020817;

    --card: #abe2bb;
    --card-foreground: #020817;

    --popover: #ebecf0;
    --popover-foreground: #020817;

    --primary: #8544a0;
    --primary-foreground: #f5f5f5;

    --secondary: #38d063;
    --secondary-foreground: #f5f5f5;
    

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: #020817;
    --accent-foreground: #020817;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #191a19;
    --foreground: #f8fafc;

    --card: #020817;
    --card-foreground: #f8fafc;

    --popover: #020817;
    --popover-foreground: #f8fafc;

    --primary: #1e5128;
    --primary-foreground: #f8fafc;

    --secondary: #d8e9a8;
    --secondary-foreground: #020817;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: #f8fafc;
    --accent-foreground: #f8fafc;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }  */
  .first-gradient {
    background: rgb(145, 214, 164);
    background: linear-gradient(209deg, rgba(145, 214, 164, 1) 26%, rgba(191, 232, 203, 0.8491771708683473) 63%, rgba(221, 217, 217, 1) 72%);
  }
  .login-bg {
    background-image: url("../assets/background.svg");
    background-position: center;
    /* color: #266633; */
  }
  .block {
    background-color: #bababa;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .filter-icon {
    @apply w-5 h-5 sm:w-6 sm:h-6 rounded bg-gray-300 dark:bg-[#404140] flex justify-center items-center cursor-pointer;
  }
  .note-icon {
    @apply w-6 h-6 sm:w-7 sm:h-7 rounded bg-gray-200 hover:bg-gray-300 dark:bg-[#404140] dark:hover:bg-slate-600 flex justify-center items-center cursor-pointer;
  }
}
